
#writeForm{
	width: 500px;
	height: 620px;
	border: 1px solid red;
	margin: auto;
}

h2{
	text-align: center;
}
table{
	margin: auto;
	width: 450px;
}
.td_left{
	border: 1px solid #ccc;;
	width: 150px;
	background: #ccc;
}
.td_right{
	border: 1px solid #ccc;;
	width: 300px;
	background: #ccc;
}
#commandCell{
	text-align: center;
	
}